// Importing global files
@use '../globals/variables' as *;


// Styling the features section
.features {
    padding-top: 2rem;
    display: flex;
    gap: 1.8rem;
        .article {
            display: flex;
            .image {
                img {
                    max-width: 6.25rem;
                }
            }
            .text {
                margin-left: 15px;
                span {
                    color: $Grayishblue;
                    font: {
                        size: 32px;
                        weight: 700;
                    }
                }
                h4 {
                    margin: 12px 0;
                    cursor: pointer;
                    transition: $transition;
                    &:hover {
                        color: $orange;
                    }
                }
                p {
                    font-size: 15px;
                    color: $Darkgrayishblue;
                    line-height: 1.4;
                }
            }
        }
}



// Responsive Design
@media (max-width: 991px) {
    .container {
        .features {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
}


// @media (min-width: 375px) {
//     .container {
//         .features {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;

//             .article {
//                 padding-bottom: 1rem;
//                 .text {
//                     margin-top: -1rem;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 375px) {
    .container {
        .features {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .article {
                padding-bottom: 1rem;
                .text {
                    margin-top: -1rem;
                }
            }
        }
    }
}