// Set of colors
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayishblue: hsl(233, 8%, 79%);
$Darkgrayishblue: hsl(236, 13%, 42%);
$Verydarkblue: hsl(240, 100%, 5%);


// Set Of Transition
$transition: all .3s ease;


// gradient(180deg,#1a0000 9.07%,#343b8d 91.76%);