// Set Of Color Variables
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$limeGreenDark: #15ab6a;
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Set Of dim Size Variables
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Set Of padding And Margin Variables
$dim-sm: 0.875rem; // 14px
$dim-med: 1.125rem; // 18px
$dim-lg: 1.25rem;
$dim-xlg: 3.25rem;

// Set Of Transition Variables
$transition-1: .3s;
$transition-2: all .3s ease;